body{
font-family:Arial;
background:#f4f4f4;
text-align:center;
}
header{
background:#222;
color:white;
padding:20px;
}
.container{
margin-top:50px;
}
button{
padding:15px;
width:220px;
font-size:18px;
margin:10px;
cursor:pointer;
}